### Data Structures

         - Lists
    
         - Tuple
        
         - Dictionary
         
         - Set
            
              
### List Comprehension

#### Data Structures in Python
##### Lists

In [ ]:
An ordered sequence of values enclosed within [ ].

- List can be created by [] or list()

- Lists are mutable : Can do changes

-  List can contain multiple data types

- Lists are iterables

In [2]:
# Create an empty list
L1=list()

In [3]:
#type
type(L1)

list

In [11]:
# create a list with mixed data types : 
L2=["Apurva",36,'Sawant',45.33]
L2

['Apurva', 36, 'Sawant', 45.33]

In [10]:
# Lists are mutable
# change the value '5' into '0' in the list ls3
ls3=[5,6.5,'age',True]

In [6]:
# Extract 'age' from the list ls3
ls3[2]

'age'

In [7]:
# Extract 'e'  from the list ls3
ls3[2][2]

'e'

In [ ]:
# Extract 'age',True from the list ls3

In [9]:
first=[2,34,5,[56,81,[43,89],67],10]

In [10]:
# extract [43,89] from the list 'first'
first[3][2]

[43, 89]

In [11]:
# extract 89
first[3][2][1]

89

In [12]:
#extend
newlist1=[1,2,3]
newlist2=[5,6]

In [13]:
newlist1.extend(newlist2)

In [14]:
newlist1

[1, 2, 3, 5, 6]

In [16]:
# append
newlist3=[6,7,8]
newlist4=[9,10]

In [18]:
# insert
#syntax: listobject.insert(index,value)
newlist4=[9,10]
newlist3.append(newlist4)

In [19]:
newlist3

[6, 7, 8, [9, 10], [9, 10]]

In [ ]:
#pop
# listobject.pop(index) 
# list object.pop()--> removes last element in the list

In [20]:
newlist4

[9, 10]

In [21]:
## remove 
# syntax: listobject.remove(value)
list_1=[1,2,'hi','wel',8]
newlist3

[6, 7, 8, [9, 10], [9, 10]]

In [24]:
first=[2,34,5,[56,81,[43,89],67],10,59,57]

In [28]:
#remove elements from the list : remove 81 # del(indexing)
del(first[3][1])

In [29]:
first

[2, 34, 5, [56, [43, 89], 67], 10, 59, 57]

In [32]:
# reverse
# syntax: list object.reverse()
list1 = [1, 2, 3, 4, 1, 2, 6]
list1.reverse()

In [33]:
list1

[6, 2, 1, 4, 3, 2, 1]

In [34]:
#index: object.index(value)
# returns theindex of the element
list1.index(4)

3

In [ ]:
### Apply + * on list objects
ls1=[12,23,12,45]
ls2=[34,6,7,8]

In [ ]:
ls1+ls2

In [ ]:
ls1*4

In [36]:
# sort the list object in ascending order
ls6=[12,4,78,2,9,54]

In [37]:
#sorted()function

In [38]:
# descending order # reverse=True
sorted(ls6,reverse=True)

[78, 54, 12, 9, 4, 2]

In [40]:
#sort() method
ls6

[2, 4, 9, 12, 54, 78]

In [ ]:
#descending order

In [41]:
#split method
dt="6-6-2022"
#split it by '-'
dt.split('-')

['6', '6', '2022']

In [42]:
# loop
# for loop
for i in ls6:
    print(i)

2
4
9
12
54
78

In [43]:
#List comprehension
# one line expression of for loop

In [44]:
a=[1,2,3,4]
#list of square of elements of a
#for loop

In [45]:
#list comprehension : syntax: [expression for if]
# list of square of elements
b=[1,2,3]
[b[1]==2 for i in b]

[True, True, True]

In [49]:
cities=['Delhi','Pune','Chennai','Bangalore','Hyd']
# create a list of elements which has length is greater than 6.
[i for i in cities if len(i)>6]

['Chennai', 'Bangalore']

In [51]:
L=[4,7,8,9]
# Add value 5 to each element in the list
L1=[3,4,5,6]
L2=[1,3,5,8]

[L1[x] + L2[x] for x in range(len(L1))]

[4, 7, 10, 14]

In [52]:
# Create a list of elements which is greater than 5 in the given list L

In [53]:
# Addition of two lists L1 and L2
L1=[3,4,5,6]
L2=[1,3,5,8]

[L1[x] + L2[x] for x in range (len(L1))]

[4, 7, 10, 14]

### Tuple

- A tuple is a sequence of items
- tuple is created by using () or tuple()
- tuple contains mixed data type
- tuples are immutable
- tuples are iterable

In [56]:
# empty tuple objectt1
t1=()
t2=tuple()

tuple

In [61]:
#type
type(t1)

tuple

In [ ]:
#create a tuple with elements

In [ ]:
t6=(23,4,'e','i')

In [ ]:
# extract '4' from t6

In [ ]:
# immutable

In [ ]:
# convert tuple object into list and do changes.

In [ ]:
#for loop

### Dictionary
- A collection of unordered set of key:value pairs.

- Create dictionaries by using {} or dict()

- Keys are unique.

- values are accessed by using keys, not by index

- Dictionaries are mutable.

- Dicitonaries are iterables.

In [ ]:
# empty dict:

In [ ]:
#type

In [ ]:
# create dict of mixed data types

In [ ]:
# keys() & values() method

In [ ]:
#items() method

In [62]:
#extract [5,6,7] from d4.
d4={'first':[5,6,7],'second':["a","b"],'third':(7,8,0),'fourth':"hello"}
d4

{'first': [5, 6, 7],
 'second': ['a', 'b'],
 'third': (7, 8, 0),
 'fourth': 'hello'}

In [70]:
#extract 6
d4['first'][1]

6

In [69]:
#extract 'b'
d4['second'][1]

'b'

In [79]:
d5={'one':{'el_one':[3,4,6,{'el_two':'z'}]}}
# extract 'z'
d5['one']['el_one'][3]['el_two']

'z'

In [ ]:
# for loop

In [85]:
#mutable
# change the 1st element in the first key in the dictionary d6.
d6={'new':[9,4,5,['split','merge',10]],'old':('s',17,0),'mid':{'ram':4,'ravi':8}}
d6['new'][0]=10
d6

{'new': [10, 4, 5, ['split', 'merge', 10]],
 'old': ('s', 17, 0),
 'mid': {'ram': 4, 'ravi': 8}}

In [86]:
# using pop() method to rename the key names in the dictionary
d6['middle']=d6.pop('mid')
d6

{'new': [10, 4, 5, ['split', 'merge', 10]],
 'old': ('s', 17, 0),
 'middle': {'ram': 4, 'ravi': 8}}

In [87]:
?d6.update()   # press shift+tab will show the details about the given method.

Object `d6.update()   # press shift+tab will show the details about the given method.` not found.

In [89]:
### map and filter function
#square function

#map function: map square function
b=[2,3,4]
# map(fun,iterable)

In [91]:
# filter function
# filter the words from a list that dont start with the letter 's'
seq=['soup','salad','food','great']
                         ## without list, it will returns the generator object.
# filter(fun,iterable)

### Sets

- Unordered sequence of elements

- create set objects by using {} or set()

In [92]:
# create empty set
s1=set()

In [94]:
type(s1)

set

In [95]:
s3={"Monday","Tuesday","Wednesday","Thursday","Friday"}

In [96]:
s4=set(["Monday","Tuesday","Wednesday","Thursday","Friday"])

In [99]:
# extract "Friday"
s4.remove("Monday")
s4

{'Friday', 'Thursday', 'Tuesday', 'Wednesday'}

In [100]:
# add element in the set s4.
s4.add("Saturday")
s4

{'Friday', 'Saturday', 'Thursday', 'Tuesday', 'Wednesday'}

In [104]:
#update
s4.update(["Jan","Feb",'Mar',"Apr","May","June"])
print(s4)

{'Feb', 'Tuesday', 'Mar', 'Jan', 'June', 'May', 'Wednesday', 'Friday', 'Saturday', 'Apr', 'Thursday'}

In [105]:
# removing the items
s4.discard("May")
print(s4)

{'Feb', 'Tuesday', 'Mar', 'Jan', 'June', 'Wednesday', 'Friday', 'Saturday', 'Apr', 'Thursday'}

In [106]:
s4.remove("Mar")
print(s4)
#the remove() method will raise an error if the specified item does not exist,
# and the discard() method will not.

{'Feb', 'Tuesday', 'Jan', 'June', 'Wednesday', 'Friday', 'Saturday', 'Apr', 'Thursday'}

In [107]:
s4.pop()
print(s4)

{'Tuesday', 'Jan', 'June', 'Wednesday', 'Friday', 'Saturday', 'Apr', 'Thursday'}

In [ ]:
--------------------------------------------------End--------------------------------------------------------------