### Language Overview
    
           - Variables
           
           - statements & Expressions
           
           - whitespace & comments
                           

### Types and Values

           - Data Types
           
           - user input & output
    
           - type() & id()

#### Variables

In [11]:
### Creata a variable
arr=2.5
arr2=5
chars="Hello"

In [12]:
### Type of variable
type(chars)

str

In [13]:
### Assign multiple values to multiple variables

a=12;b=45;c=12

In [14]:
print(a,b,c)

12 45 12

In [7]:
### Assign same value to multiple variable
a=b=c=d=15

In [8]:
#python is case sensitive
new=80

In [9]:
var_1=34

In [10]:
var_1

34

#### Keywords & Constants

Keywords are the reserved words in Python.

We cannot use a keyword as a variable name, function name or any other identifier. They are used to define the syntax and structure of the Python language.

All the keywords except True, False and None are in lowercase and they must be written as they are.

The list of all the keywords is given below.

False	await	else	import	pass

None	break	except	in	raise

True	class	finally	is	return

and	continue	for	lambda	try

as	def	from	nonlocal	while

assert	del	global	not	with

async	elif	if	or	yield

An identifier is a name given to entities like class, functions, variables, etc. It helps to differentiate one entity from another.
Rules for writing identifiers

Identifiers can be a combination of letters in lowercase (a to z) or uppercase (A to Z) or digits (0 to 9) or an underscore _. Names like myClass, var_1 and print_this_to_screen, all are valid example.

An identifier cannot start with a digit. 1variable is invalid, but variable1 is a valid name.

Keywords cannot be used as identifiers.

A constant is a type of variable whose value cannot be changed.

In [ ]:
# pi=3.14

#### Statements and Expressions

An Expression is a sequence or combination of values, variables, operators and function calls that always produces or returns a result value.
– An Expression always evaluates (calculate) to itself.

x = 5, y = 3, z = x + y
In the above example x, y and z are variables, 5 and 3 are values, = and + are operators.

So, the first combination x = 5 is an expression, the second combination y = 3 is an another expression and at last, z = x + y is also an expression.

Any Instruction that a python interpreter can execute (carry out) is called a Statement.

Each and every line or a sentence in any programming language is called an instruction.
In simple words – A Statement is the smallest executable unit of code that has an effect, like creating a variable or displaying a value.
Each and every line of code that we write in any programming language is called a statement

Difference between Expressions and Statements in Python:

Expression	  

                                                                    Statement
                                                                    
An expression evaluates to a value	                          A statement executes something
The evaluation of a statement does not changes state	      The execution of a statement changes state
Evaluation of an expression always Produces or returns
a result value.	                                              Execution of a statement may or may not produces or displays a                                                                 result value, it only does whatever the statement says.
Every expression can’t be a statement.	                      Every statement can be an expression.

Example: >>> a + 16
>>> 20	                                                      Example:  >>> x = 3
                                                               >>> print(x)

                                                                 Output: 3

#### Whitespace & Comment

Indentation: A code block (body of a function, loop, etc.) starts with indentation.
Generally, four whitespaces are used for indentation and are preferred over tabs.

Comment: A Python comment is a line of text that appears in a program but is not executed by the program.

Single line comments: Python single-line comment starts with a hashtag symbol with no white spaces (#) and lasts till the end of the line. If the comment exceeds one line then put a hashtag on the next line and continue the comment.
Multi-line string as a comment: Python multi-line comment is a piece of text enclosed in a delimiter (“””) on each end of the comment. Again there should be no white space between delimiter (“””).

In [15]:
# variable declaration
s=78

In [17]:
"""This is the first line for explaining whitespace and comments."""

'This is the first line for explaining whitespace and comments.'

- numeric (int,float)

- bool

- complex

- string

In [18]:
### int
x=10

In [19]:
# type of a variable
type(x)

int

In [20]:
# output
x

10

In [21]:
### float
y=3.14

In [22]:
#type of a variable
type(y)

float

In [23]:
#output
y

3.14

In [27]:
### bool
z=True
w=False

In [28]:
#type of a variable
type(z)
type(w)

bool

In [29]:
# output
z,w

(True, False)

In [30]:
### complex
boolean = (812==0)

In [32]:
#type
type(812==0)

bool

In [ ]:
#output

In [33]:
boolean

False

In [34]:
### string
str1="Abhishek is a genius"

In [35]:
# type
type(str1)

str

In [36]:
# output
str1

'Abhishek is a genius'

In [ ]:
# case sensitive

In [ ]:
# different formats to display output

In [41]:
print("Welcome")
print("to all")

Welcome
to all

In [42]:
# output : Welcome to all --> using two print() functions.

In [43]:
# with end parameter end =''
print("Welcome",end=' ')
print("to all")

Welcome to all

In [46]:
## user input 
## input() function
a=int(input("Enter a number = "))

Enter a number = 25

In [47]:
# type of a variable input1
input1=float(input("Enter a float numerical: "))

Enter a float numerical: 3.1533

In [ ]:
# Type casting

In [ ]:
## multiple inputs

In [48]:
# split() method to write multiple imputs in a single line
input1,input2=input().split(',')

Apurva,Sawant

In [50]:
(input1,input2)

('Apurva', 'Sawant')

#### type() and id()

The id() function returns a unique id for the specified object.

All objects in Python has its own unique id.

The id is assigned to the object when it is created.
###### syntax: id(object)

id() function returns the identity of the object. type() function returns the type of the object

In [51]:
id(input1)

2490022438960

In [15]:
### Hands-on
num1=float(input("Enter two numbers: "))
num2=float(input("Enter two numbers: "))
print("%0.2f"%(num1),"%0.2f"%(num2))

Enter two numbers: 12.55
Enter two numbers: 23.66
12.55 23.66

Accept numbers from a user

Display float number with 2 decimal places using print()

Accept 3 float numbers as an input from the user

Accept any three string from one input() call

Create a variable named carname and assign the value Volvo to it.

Make a Python program that prints your name.

Make a program that asks the users preferred programming language.

Get string object '123' from user input function and add value 1.